body {
    background: rgb(166, 160, 216);
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background: rgb(119, 219, 194);
    border-radius:5px;
}
.assignment img {
    width:200px;
    margin:10px;
    border:2px solid rgba(255, 255, 255, 0.466)

}
.assignment img:hover{
    border:2px solid #F25C69
}
h1 {
    color: rgb(0, 0, 0);
    text-align:center
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0); 
}
a:hover {
    color: #F25C69;

}